In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

In [4]:
HF = pd.read_csv('/content/drive/MyDrive/Data Analytics/bq-Distinct HF.csv', sep=',', header = 0)  #Distinc HF has the entire list of patients that are intended to be included in the analysis.
CKD = pd.read_csv('/content/drive/MyDrive/Data Analytics/bq-Distinct CKD.csv', sep=',', header = 0) #This file lists the patients who suffer from some level of Chronic Kidney Disease.

CKD

      SUBJECT_ID  ICD9_CODE
0             68       5859
1             85       5853
2            109       5855
3            124       5854
4            145       5859
...          ...        ...
4087       99901       5852
4088       99923       5859
4089       99936       5859
4090       99938       5859
4091       99944       5859

[4092 rows x 2 columns]

In [5]:
#Compare all of the patients with HF with CKD and find those who suffer from both.
HFCKD = HF
both = []
for row in HFCKD['SUBJECT_ID']:         #Only wish to find the patients that exist in HF dataframe, as it's already filtered.
  if row in (list(CKD['SUBJECT_ID'])):  #If the subject_id exists on both lists then the patient suffers from both conditions.
    both.append(1)
  else:
    both.append(0)
HFCKD['Chronic KD'] = both
HFCKD

      SUBJECT_ID  ICD9_CODE  Chronic KD
0              3       4280           0
1              9       4280           0
2             21       4280           0
3             26       4280           0
4             34       4280           0
...          ...        ...         ...
9838       99938       4280           1
9839       99944       4280           1
9840       99982       4280           0
9841       99991       4280           0
9842       99995       4280           0

[9843 rows x 3 columns]

In [6]:
#Remove the ICD9 code column, as is no longer useful for the analysis.
HFCKD = HFCKD.drop('ICD9_CODE', axis=1)
HFCKD

      SUBJECT_ID  Chronic KD
0              3           0
1              9           0
2             21           0
3             26           0
4             34           0
...          ...         ...
9838       99938           1
9839       99944           1
9840       99982           0
9841       99991           0
9842       99995           0

[9843 rows x 2 columns]

In [7]:
HFCKD.to_csv('/content/drive/MyDrive/Data Analytics/bq-ChronicKD.csv', sep=',', index=False)   #Save the new file with both parameters of data.